body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.homepage {
  color: #fff;
  min-height: 100vh;
  padding: 20px;
}

.hero {
  background-image: url('https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fwww.nitp.ac.in%2F&psig=AOvVaw00qlcC8mm9B44O0Ebl8Hqx&ust=1706594478509000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqGAoTCJD384f2gYQDFQAAAAAdAAAAABDXAQ'); /* Uncomment this line and replace with your background image */
  background-size: cover;
  padding: 50px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero h1, .hero h2 {
  font-size: 3em;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background to the nav bar */
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Change this to space-around for evenly spaced links */
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
